<div class="row center-xs">
  <div class="clo-xs-8 col-md-6">
      <div class="box text-left">
      <h1>Nueva Cuenta Usuario</h1>
      <%= render 'form', user: @user %>     
    </div>
  </div>
</div>